@font-face {
	font-family: 'Sofachrome';
	src: url('../fonts/sofachrome.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sofachrome';
	src: url('../fonts/sofachrome-italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}
